<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <p>Hi {{firstName}} {{lastName}},</p>
    <br />
    <p>Thanks for signing up for our website. Please verify your email by
      clicking the link below.</p>
    <a href='{{link}}'>Verify your email</a>
    <br />
    <p>Thanks</p>
  </body>
</html>