<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <h1>Reset Password</h1>

    <p>Hi {{firstName}} {{lastName}},</p>
    <br />
    <p>Someone requested a password reset for your account. If it wasn't you,
      please ignore this email.</p>
    <p>If it was you, please click the link below to reset your password.</p>
    <a href='{{link}}'>Reset your password</a>
    <br />
    <p>Thanks.</p>
  </body>
</html>